@model WEIXINSITE.Models.UserModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>开户</title>
    <script src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap-theme.css">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap-theme.css.map">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.css">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.js"></script>
<script>
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '@Model.JsSdkPackage.AppId', // 必填，公众号的唯一标识
        timestamp: '@Model.JsSdkPackage.Timestamp', // 必填，生成签名的时间戳
        nonceStr: '@Model.JsSdkPackage.NonceStr', // 必填，生成签名的随机串
        signature: '@Model.JsSdkPackage.Signature',// 必填，签名
            jsApiList: [
                    'checkJsApi',
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'onMenuShareWeibo',
                    'hideMenuItems',
                    'showMenuItems',
                    'hideAllNonBaseMenuItem',
                    'showAllNonBaseMenuItem',
                    'chooseImage',
                    'previewImage',
                    'uploadImage',
                    'downloadImage',
                    'getNetworkType',
                    'hideOptionMenu',
                    'showOptionMenu',
                    'closeWindow',
                    'scanQRCode',
                    'chooseWXPay',
                    'openProductSpecificView'
            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2。详见：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
        });

        wx.error(function (res) {
            console.log(res);
            alert('验证失败');
        });

        wx.ready(function () {
            var images = {
                localId: [],
                serverId: []
            };

            $('#filePickerFront').on('click', function () {
                wx.chooseImage({
                    success: function (res) {
                        var localIds = res.localIds;
                        $("#imgCardFront").attr('src', localIds[0]);
                        syncUpload(localIds, 'imgCardFront');
                    }
                });
            });
            $('#filePickerBack').on('click', function () {
                wx.chooseImage({
                    success: function (res) {
                        var localIds = res.localIds;
                        $("#imgCardBack").attr('src', localIds[0]);
                        syncUpload(localIds, 'imgCardBack');
                    }
                });
            });
            $('#filePickerBank').on('click', function () {
                wx.chooseImage({
                    success: function (res) {
                        var localIds = res.localIds;
                        $("#imgBank").attr('src', localIds[0]);
                        syncUpload(localIds, 'imgBank');
                    }
                });
            });
            var syncUpload = function (localIds,targetInput) {
                var localId = localIds.pop();
                
                
                wx.uploadImage({
                    localId: localId,
                    isShowProgressTips: 1,
                    success: function (res) {
                        var serverId = res.serverId; // 返回图片的服务器端ID
                        $("#" + targetInput).attr('title', serverId);
                        //其他对serverId做处理的代码
                        //if (localIds.length > 0) {
                        //    syncUpload(localIds);
                        //}
                    }
                });
            };
          

            //转发到朋友圈
            wx.onMenuShareTimeline({
                title: 'JSSDK朋友圈转发测试',
                link: '',
                imgUrl: '',
                success: function () {
                    alert('转发成功！');
                },
                cancel: function () {
                    alert('转发失败！');
                }
            });
            //转发给朋友
            wx.onMenuShareAppMessage({
                title: 'JSSDK朋友圈转发测试',
                desc: '转发给朋友',
                link: '',
                imgUrl: '',
                type: 'link',
                dataUrl: '',
                success: function () {
                    alert('转发成功！');
                },
                cancel: function () {
                    alert('转发失败！');
                }
            });

            $('#argeeC').on('click', function () {

            });

            $('#submitForm').on('click', function () {


                weixinOpenId = '@Model.RegUser.weixinOpenId'
                var upData={
                    RegUser : {
                        weixinOpenId: weixinOpenId ,
                        realName: $('#realName').val(),
                        phone: $('#phone').val(),
                        CardPicFront: $("#imgCardFront").attr("title"),
                        CardPicBackground: $("#imgCardBack").attr("title"),
                        BankCardPic: $("#imgBank").attr("title")
                    }
                }

                if (upData.RegUser.realName == '') {
                    alert('请填写姓名资料！');
                    return false;
                }

                if (upData.RegUser.phone == '') {
                    alert('请填写电话号码！');
                    return false;
                }
                if (upData.RegUser.CardPicFront == undefined) {
                   alert('请上传身份证正面照片！');
                    return false;
                }
                if (upData.RegUser.BankCardPic == undefined) {
                    alert('请上传银行卡照片！');
                    return false;
                }
                
                console.log(JSON.stringify(upData));
                $.post('OpenAccount', { dataJson: JSON.stringify(upData) }, function (res) {
                    

                    if (res.state) {
                        alert("您好，您已开户成功。中心会在24小时内与您取得联系，将您的账户信息通过短信发送给您，请注意查收，感谢您的支持。如有疑问请咨询 028-68631770 。");
                    }
                    else
                    {
                        alert(res.msg);
                    }
                    
                });
            });
        });
        
        
    </script>

</head>
<body>

    <div class="panel panel-info" data-expand="Y">
        <div class="panel-heading">
            <div class="panel-option">
                <button class="btn btn-sm btn-info">开户资料</button>
                <div class="item-static"><input type="checkbox" checked> <span style="color:red">*所有参与本次百万大奖活动的会员均视为同意大雪无痕锁仓计划</span> </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row item-row">
                <div class="col-md-12">
                    <div class="item-name">开户微信号</div>
                    <div class="item-static"><input type="text" class="form-control" id="nickName" value="@Model.RegUser.nickName"></div>
                </div>
            </div>
            <div class="row item-row">
                <div class="col-md-12">
                    <div class="item-name">姓名</div>
                    <div class="item-static"><input type="text" class="form-control" id="realName" ></div>
                </div>
             </div>
            <div class="row item-row">
                <div class="col-md-12">
                    <div class="item-name">手机</div>
                    <div class="item-static"><input type="text" class="form-control" id="phone"></div>
                </div>
            </div>
            <div class="row item-row">
                <div class="col-md-2">
                    <div class="item-name centered">身份证正面</div>
                    <div class="item-static"><img id="imgCardFront" width="80" height="80" /></div>
                    <button class="btn btn-sm btn-info" id="filePickerFront">选择图片</button>
                </div>
                <div class="col-md-2" style="display:none;">
                    <div class="item-name centered">身份证背面</div>
                    <div class="item-static"><img id="imgCardBack" width="80" height="80" /></div>
                    <button class="btn btn-sm btn-info" id="filePickerBack">选择图片</button>
                </div>
                <div class="col-md-2">
                    <div class="item-name centered">银行卡</div>
                    <div class="item-static"><img id="imgBank" width="80" height="80" /></div>
                    <button class="btn btn-sm btn-info" id="filePickerBank">选择图片</button>
                </div>
            </div>
            <div class="row item-row">
                <div class="col-md-12">
                    <div class="item-name"></div>
                    <div class="item-static"><input type="checkbox" id="argeeC" name="argeeC" checked><label>我已阅读并接受 <a href="http://mp.weixin.qq.com/s?__biz=MzI3MjAwNjA0MA==&mid=504318818&idx=1&sn=d3637360b37bcd3d28307b11b89ca34c#rd">风险提示</a> &nbsp;&nbsp;
                       <a href="http://mp.weixin.qq.com/s?__biz=MzI3MjAwNjA0MA==&mid=504318818&idx=2&sn=283b6968e3f0f8680d8974c69c20d4e3#rd">入市协议</a></label></div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-option right">
        
        <button class="btn btn-success btn-lg" id="submitForm">提交</button>
    </div>
</body>
</html>