@model Senparc.Weixin.MP.Helpers.JsSdkUiPackage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>公众号JSSDK演示</title>
    <script src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap-theme.css">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap-theme.css.map">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.css">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.js"></script>
<script>
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '@Model.AppId', // 必填，公众号的唯一标识
        timestamp: '@Model.Timestamp', // 必填，生成签名的时间戳
        nonceStr: '@Model.NonceStr', // 必填，生成签名的随机串
        signature: '@Model.Signature',// 必填，签名
            jsApiList: [
                    'checkJsApi',
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'onMenuShareWeibo',
                    'hideMenuItems',
                    'showMenuItems',
                    'hideAllNonBaseMenuItem',
                    'showAllNonBaseMenuItem',
                    'chooseImage',
                    'previewImage',
                    'uploadImage',
                    'downloadImage',
                    'getNetworkType',
                    'hideOptionMenu',
                    'showOptionMenu',
                    'closeWindow',
                    'scanQRCode',
                    'chooseWXPay',
                    'openProductSpecificView'
            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2。详见：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
        });

        wx.error(function (res) {
            console.log(res);
            alert('验证失败');
        });

        wx.ready(function () {
            var images = {
                localId: [],
                serverId: []
            };

            $('#filePickerFront').on('click', function () {
                wx.chooseImage({
                    success: function (res) {
                        var localIds = res.localIds;
                        
                        syncUpload(localIds, 'imgCardFront');
                    }
                });
            });
            $('#filePickerBack').on('click', function () {
                wx.chooseImage({
                    success: function (res) {
                        var localIds = res.localIds;

                        syncUpload(localIds, 'imgCardBack');
                    }
                });
            });
            $('#filePickerBank').on('click', function () {
                wx.chooseImage({
                    success: function (res) {
                        var localIds = res.localIds;

                        syncUpload(localIds, 'imgBank');
                    }
                });
            });
            var syncUpload = function (localIds,targetInput) {
                var localId = localIds.pop();
                $("#" + targetInput).attr('src', localIds[0]);
                
                wx.uploadImage({
                    localId: localId,
                    isShowProgressTips: 1,
                    success: function (res) {
                        var serverId = res.serverId; // 返回图片的服务器端ID
                        $("#" + targetInput).attr('title', serverId);
                        //其他对serverId做处理的代码
                        //if (localIds.length > 0) {
                        //    syncUpload(localIds);
                        //}
                    }
                });
            };
          

            //转发到朋友圈
            wx.onMenuShareTimeline({
                title: 'JSSDK朋友圈转发测试',
                link: '',
                imgUrl: '',
                success: function () {
                    alert('转发成功！');
                },
                cancel: function () {
                    alert('转发失败！');
                }
            });
            //转发给朋友
            wx.onMenuShareAppMessage({
                title: 'JSSDK朋友圈转发测试',
                desc: '转发给朋友',
                link: '',
                imgUrl: '',
                type: 'link',
                dataUrl: '',
                success: function () {
                    alert('转发成功！');
                },
                cancel: function () {
                    alert('转发失败！');
                }
            });

            $('#submitForm').on('click', function () {
                weixinOpenId = '@ViewData["OpenId"].ToString()'
                var upData = {
                    weixinOpenId: weixinOpenId ,
                    realName: $('#realName').val(),
                    phone: $('#phone').val(),
                    CardPicFront: $("#imgCardFront").attr("title"),
                    CardPicBackground: $("#imgCardBack").attr("title"),
                    BankCardPic: $("#imgBank").attr("title")
                }
                //console.log(JSON.stringify(upData));
                $.post('Test', { dataJson: JSON.stringify(upData) }, function (res) {
                    

                    if (res.state) {
                       console.log(res.msg);
                    }
                });
            });
        });
        
        
    </script>

</head>
<body>

    <div class="panel panel-info" data-expand="Y">
        <div class="panel-heading">
            <div class="panel-option">
                <button class="btn btn-sm btn-info">开户资料,@ViewData["OpenUnit"]</button>
            </div>
        </div>
        <div class="panel-body">
            <div class="row item-row">
                <div class="col-md-12">
                    <div class="item-name">姓名</div>
                    <div class="item-static"><input type="text" class="form-control" id="realName"></div>
                </div>
             </div>
            <div class="row item-row">
                <div class="col-md-12">
                    <div class="item-name">手机</div>
                    <div class="item-static"><input type="text" class="form-control" id="phone"></div>
                </div>
            </div>
            <div class="row item-row">
                <div class="col-md-12">
                    <div class="item-name centered">身份证正面</div>
                    <div class="item-static"><img id="imgCardFront" width="80" height="80" /></div>
                    <button class="btn btn-sm btn-info" id="filePickerFront">选择图片</button>
                </div>
            </div>
            <div class="row item-row">
                <div class="col-md-12">
                    <div class="item-name centered">身份证背面</div>
                    <div class="item-static"><img id="imgCardBack" width="80" height="80" /></div>
                    <button class="btn btn-sm btn-info" id="filePickerBack">选择图片</button>
                </div>                  
            </div>
            <div class="row item-row">
                <div class="col-md-12">
                    <div class="item-name centered">银行卡</div>
                    <div class="item-static"><img id="imgBank" width="80" height="80" /></div>
                    <button class="btn btn-sm btn-info" id="filePickerBank">选择图片</button>
                </div>
            </div>
        </div>
    </div>
    <div class="main-option right">
        <button class="btn btn-success" id="submitForm">提交</button>
    </div>
</body>
</html>